.header-country{
    text-align: center;
    color: royalblue;
    
}


.country-list {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.country-card {
    
    background-color:beige;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
}

.country-flag {
    
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.country-name {
    margin-bottom: 0.5rem;
}

.country-card p {
    
    margin-bottom: 0.5rem;
}

.country-list-container.light {
    background-color: darkblue;
    color: orangered;
}

.country-list-container.dark {
    background-color: #333333;
    color: #350c65;
}

.color-scheme-picker {
    margin-bottom: 1rem;
}

.color-scheme-picker select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
     margin-left: 1.5rem;
     color: royalblue;
}

.country-search{
    font-size: larger;
    margin-left: 10rem;
    color: royalblue;
    
}

.country-select{
    font-size: larger;
    margin-left: 3rem;
    color: royalblue;
}

.country-details{
   
    color:royalblue;
    margin-left: 15rem;
    
}
.Back-btn{
    margin-left: 2rem;
    font-size: larger;
    margin-top: 4rem;
    color: royalblue;
}

.border-btn{
    color: red;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
